.dropdown1{
    margin-right: 200px;
  }
  .dropbtn{
    font-size: 22px;
  }
  .icons{
    font-size: 20px;
  }
  .profile{
    position: relative;
    top:40px;
  }
  .col-md-3{
    position: fixed;
  }
  .col-md-9{
    position: absolute;
    left: 400px;
}
.cartcount{
  position: relative;
  left:65px;
  top:-17px;
}
.mr{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(113, 104, 104);
}
.navnames{
  position: absolute;
  left:83px;
  
}
.ordericon{
  position: relative;
  top:-15px;
}
.tr{
    background-color: rgb(25, 25, 81);
}
.tri{
  background-color: rgb(51, 99, 141);
}