<div class="container-fluid">
  <br>
  <div class="row">
      <div class="d-flex justify-content-center">
          <img src="assets/images/off.png" class="car" >
          </div>
      </div>
      <br>
<div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
         <h3 class="d-flex justify-content-center food">Up to 20% extra off on Food</h3>
         </div>
      <div class="col-md-2"></div>
  </div>
<br>
<div class="row">
  <div class="col-md-3">
      <img src="assets/images/F2.jpg" class="rounded-circle" height="190px" width="190px">
  </div>
  <div class="col-md-3">
      <img src="assets/images/F3.jpg" class="rounded-circle" height="190px" width="190px">
  </div>
  <div class="col-md-3">
      <img src="assets/images/F4.jpg" class="rounded-circle" height="190px" width="190px">
  </div>
  <div class="col-md-3">
      <img src="assets/images/F1.jpg" class="rounded-circle" height="190px" width="190px">
  </div>
</div>
<br>
<div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
         <h3 class="d-flex justify-content-center food">Up to 5% extra off on Travel</h3>
         </div>
      <div class="col-md-2"></div>
  </div>
<br>
<div class="row">
  <div class="col-md-3">
      <img src="assets/images/T1.jpg" class="rounded-circle" height="190px" width="190px">
  </div>
  <div class="col-md-3">
      <img src="assets/images/T2.jpg" class="rounded-circle" height="190px" width="190px">
  </div>
  <div class="col-md-3">
      <img src="assets/images/T3.jpg" class="rounded-circle" height="190px" width="190px">
  </div>
  <div class="col-md-3">
      <img src="assets/images/T4.jpg" class="rounded-circle" height="190px" width="190px">
  </div>
</div>
<br>
<div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
         <h3 class="d-flex justify-content-center food">Up to 50% extra off on Shopping</h3>
         </div>
      <div class="col-md-2"></div>
  </div>
<br>
<div class="row">
  <div class="col-md-3">
      <img src="assets/images/s1.png" class="rounded-circle" height="190px" width="190px">
  </div>
  <div class="col-md-3">
      <img src="assets/images/s2.jpg" class="rounded-circle" height="190px" width="190px">
  </div>
  <div class="col-md-3">
      <img src="assets/images/s3.jpg" class="rounded-circle" height="190px" width="190px">
  </div>
  <div class="col-md-3">
      <img src="assets/images/S4.jpg" class="rounded-circle" height="190px" width="190px">
  </div>
</div>
<br>
<div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
         <h3 class="d-flex justify-content-center food">Up to 30% extra off on Entertainment</h3>
         </div>
      <div class="col-md-2"></div>
  </div>
<br>
<div class="row">
  <div class="col-md-3">
      <img src="assets/images/m1.jpg" class="rounded-circle" height="190px" width="190px">
  </div>
  <div class="col-md-3">
      <img src="assets/images/m2.jpg" class="rounded-circle" height="190px" width="190px">
  </div>
  <div class="col-md-3">
      <img src="assets/images/m3.jpg" class="rounded-circle" height="190px" width="190px">
  </div>
  <div class="col-md-3">
      <img src="assets/images/m4.jpg" class="rounded-circle" height="190px" width="190px">
  </div>
</div>
<br>
<div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
         <h3 class="d-flex justify-content-center food">Up to 70% extra off on Groceries</h3>
         </div>
      <div class="col-md-2"></div>
  </div>
<br>
<div class="row">
  <div class="col-md-3">
      <img src="assets/images/g1.jpg" class="rounded-circle" height="190px" width="190px">
  </div>
  <div class="col-md-3">
      <img src="assets/images/g2.jpg" class="rounded-circle" height="190px" width="190px">
  </div>
  <div class="col-md-3">
      <img src="assets/images/g3.jpg" class="rounded-circle" height="190px" width="190px">
  </div>
  <div class="col-md-3">
      <img src="assets/images/g4.jpg" class="rounded-circle" height="190px" width="190px">
  </div>
</div>
</div>