<div class="cardpage">
    <h1 style="text-align: center">Cards</h1>
  
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <form #creditCardForm="ngForm" (ngSubmit)="onSubmit(creditCardForm)">
              <div class="form-group">
                <label for="cardNumber">Card Number</label>
                <input
                  type="text"
                  class="form-control"
                  id="cardNumber"
                  name="cardNumber"
                  ngModel
                  required
                />
              </div>
  
              <div class="form-group">
                <label for="cardHolder">Cardholder Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="cardHolder"
                  name="cardHolder"
                  ngModel
                  required
                />
              </div>
  
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="expirationDate">Expiration Date</label>
                  <input
                    type="text"
                    class="form-control"
                    id="expirationDate"
                    name="expirationDate"
                    ngModel
                    required
                  />
                </div>
  
                <div class="form-group col-md-6">
                  <label for="cvv">CVV</label>
                  <input
                    type="text"
                    class="form-control"
                    id="cvv"
                    name="cvv"
                    ngModel
                    required
                  />
                </div>
              </div>
  
              <div class="form-group">
                <label for="setLimit">Set Limit</label>
                <input
                  type="text"
                  class="form-control"
                  id="setLimit"
                  name="setLimit"
                  ngModel
                  required
                />
              </div>
  
              <div class="form-group">
                <label for="Card Type">Card Type</label>
                <input
                  type="text"
                  class="form-control"
                  id="cardType"
                  name="cardType"
                  ngModel
                  required
                />
              </div>
  
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
        <!---confirm form--->
        <div class="col-md-6">
          <div *ngIf="displayCreditCard" class="card">
            <div class="card-body">
              <h5 class="card-title">Credit Card</h5>
              <div class="card-number">
                Card Number:{{ creditCardData.cardNumber }}
              </div>
              <div class="card-holder">
                Card Holder:{{ creditCardData.cardHolder }}
              </div>
              <div class="expiration-date">
                Expiry:{{ creditCardData.expirationDate }}
              </div>
              <div class="cvv">CVV{{ creditCardData.cvv }}</div>
              <div class="set-limit">
                Set Limit: {{ creditCardData.setLimit }}
              </div>
              <div class="card-type">
                Card type: {{ creditCardData.cardType }}
              </div>
              <button type="reset" class="btn btn-primary" (click)="okaybutton()">
                Confirm Details
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  