<div class="d-flex justify-content-center">
   <h1>Limits</h1> 
</div><hr><br>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div calss="card-header">
                    <h1 class="p-2">Jan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="fa-solid fa-sack-dollar tri"></i></h1>
                   </div>
                <div class="card-body">
                    <h5>total: 30000</h5>
                    <h5>salary: 40000</h5>
                </div>
             </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div calss="card-header">
                    <h1 class="p-2">Feb</h1>
                    </div>
                <div class="card-body">
                    <h5>total: 30000</h5>
                    <h5>salary: 40000</h5>
                </div>
                 </div>
                </div>
        <div class="col-md-3"> 
            <div class="card">
                <div calss="card-header">
                    <h1 class="p-2">march</h1>
                     </div>
                <div class="card-body">
                    <h5>total: 30000</h5>
                    <h5>salary: 40000</h5>
                </div>
                 </div>
        </div>
        <div class="col-md-3">
            <h1>view More</h1>
        </div>
    </div>
