
<div class="container">
    <div class="row">
         <div class="container">
         <div class="row">
            <!-- <h3>Expense Tracking</h3><br> -->
             <div class="col-md-3">
                 <div class="card">
                     <div calss="card-header">
                         <h1 class="p-2">Jan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="fa-solid fa-dollar-sign fa-flip"></i></h1>
                        </div>
                     <div class="card-body">
                         <h5>total: 30000</h5>
                         <h5>salary: 40000</h5>
                     </div>
                  </div>
             </div>
             <div class="col-md-3">
                 <div class="card">
                     <div calss="card-header">
                         <h1 class="p-2">Feb &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa-solid fa-dollar-sign fa-flip"></i></h1>
                         </div>
                     <div class="card-body">
                         <h5>total: 30000</h5>
                         <h5>salary: 40000</h5>
                     </div>
                      </div>
                     </div>
                     <div class="col-md-3">
                        <div class="card">
                            <div calss="card-header">
                                <h1 class="p-2">Feb &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa-solid fa-dollar-sign fa-flip"></i></h1>
                                </div>
                            <div class="card-body">
                                <h5>total: 30000</h5>
                                <h5>salary: 40000</h5>
                            </div>
                             </div>
                            </div>
             
             <div class="col-md-3"> &nbsp;&nbsp;&nbsp;<br>
                &nbsp;&nbsp;&nbsp; <h2>Expense Tracking</h2>
                 <a routerLink="/navbar/expense"style="color:black   ;" class="d-flex justify-content-center img"><h5>View More</h5><i class=" icons  p-2 fa-solid fa-person-walking-arrow-right"></i></a>
             </div>
         </div>

